<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    </configSections>
    <log4net>
        <appender name="Appender1" type="log4net.Appender.RollingFileAppender">
            <staticLogFileName value="false"/>
            <rollingStyle value="Date"/>
            <maxSizeRollBackups value="30"/>
            <datePattern value="-yyyy-MM-dd'.log'"/>
            <!-- Use UESRNAME before COMPUTERNAME because a user have multiple computers, so is an upper category for computers. -->
            <file value="Logs\${USERNAME}-${COMPUTERNAME}"/>
            <!-- <file value="C:\Log\${USERNAME}-${COMPUTERNAME}"/> -->
            <!-- <file value="${TEMP}\${USERNAME}-${COMPUTERNAME}"/> -->
            <layout type="log4net.Layout.PatternLayout">
                <!-- %location is %type.%method(:%line) -->
                <conversionPattern value="%date{yyyy-MM-dd HH:mm}|%level|%location|%message%newline"/>
            </layout>
            <!-- Use LevelMin if you want this appender to log only FATAL or higher while other appenders log of the specified level in <root> below. -->
            <!--
            <filter type="log4net.Filter.LevelRangeFilter">
                <param name="LevelMin"
                       value="FATAL"/>
            </filter>
            -->
        </appender>
        <root>
            <!-- Log only ERROR or higher. Setting level is necessary only when libraries beyond your control try to log lower than ERROR. -->
            <level value="ERROR"/>
            <appender-ref ref="Appender1"/>
        </root>
        <!-- If NHibernate is used. -->
        <!--
        <logger name="NHibernate">
            <level value="WARNING" />
        </logger>
        -->
    </log4net>
    <connectionStrings>
        <clear/>
        <!-- The "name" attribute is required and its value cannot be empty. -->
        <add name="Foo" connectionString="Data Source=example.com;Initial Catalog=Database1;User=User1;Password=Password1"/>
        <add name="Bar" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=Database1;Integrated Security=True"/>
    </connectionStrings>
    <appSettings>
        <add key="Key1" value="Value1"/>
    </appSettings>
</configuration>
