<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="Appender1"
              type="log4net.Appender.RollingFileAppender">
      <staticLogFileName value="false"/>
      <rollingStyle value="Date"/>
      <maxSizeRollBackups value="30"/>
      <datePattern value="-yyyy-MM-dd'.log'"/>
      <!-- For ClickOnce applications, set log folders outside folders where the ClickOnce applications are deployed because the deployed paths are ugly and random -->
      <!-- <file value="C:\logs\${USERNAME}-${COMPUTERNAME}"/> -->
      <!-- <file value="${TEMP}\${USERNAME}-${COMPUTERNAME}"/> -->
      <file value="logs\${USERNAME}-${COMPUTERNAME}"/>
      <layout type="log4net.Layout.PatternLayout">
        <!-- %location is %type.%method(:%line) -->
        <conversionPattern value="%date{HH:mm:ss}|%level|%location|%message%newline"/>
      </layout>
    </appender>
    <root>
      <appender-ref ref="Appender1"/>
    </root>
  </log4net>
  <connectionStrings>
    <clear/>
    <add name="Foo"
         connectionString="Integrated Security=SSPI;Initial Catalog=Database1;Data Source=.\SQLEXPRESS"/>
    <add name="Bar"
         connectionString="Data Source=example.com;Initial Catalog=Database1;User=User1;Password=Password1"/>
  </connectionStrings>
  <appSettings>
    <add key="Key1"
         value="Value1"/>
  </appSettings>
  <runtime>
    <asemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- While your code uses log4net 2.0.8, let your dependencies use log4net between 2.0.0 and 2.0.7, whose publicKeyToken is the same as that of 2.0.8, to 2.0.8. -->
      <dependencyAssembly>
        <assemblyIdentity name ="log4net"
                          publicKeyToken="669e0ddf0bb1aa2a" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0"
                         newVersion="2.0.8.0" />
      </dependencyAssembly>
      <!--
        While your code uses log4net 2.0.8, let your dependencies to use log4net 1.2.10.0, whose publicKeyToken is NOT the same as that of 2.0.8.
        
        TODO:
        1. Include log4net-1.2.10.dll in solution.
        2. Set "Copy if newer" to log4net-1.2.10.0.dll.
      -->
      <dependencyAssembly>
        <assemblyIdentity name ="log4net"
                          publicKeyToken="1b44e1d426115821" />
        <codeBase version="1.2.10.0"
                  href="log4net-1.2.10.0.dll" />
      </dependencyAssembly>
    </asemblyBinding>
  </runtime>
</configuration>